<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Groggy Design</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
</head>


<body>
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3" style="background: linear-gradient(to bottom, rgba(58, 58, 64, 0.5) 0%, rgba(58, 58, 64, 0.5) 100%);">
			<div class="container">
				<a class="navbar-brand" href="~/Home/Index"><h2 class="animated animate__fadeInLeft delay-1s">Tim Robbins</h2></a>
				<h2 class="text-uppercase text-danger font-weight-bold">Under Construction</h2>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto my-2 my-lg-0">
						<li class="nav-item"><a class="nav-link" href="~/Home/Index">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="~/Home/About">About</a></li>
						<li class="nav-item"><a class="nav-link" href="~/Home/Resume">Resume</a></li>
						<li class="nav-item"><a class="nav-link" href="~/Home/Projects">Projects</a></li>
						<li class="nav-item"><a class="nav-link" href="~/Home/Contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>





	@RenderBody()

	<section style="background: linear-gradient(to bottom, rgba(58, 58, 64, 0.8) 0%, rgba(58, 58, 64, 0.8) 100%);">
		<div class="container h-100">
			<div class="row h-100 align-items-center justify-content-center text-center">
				<!-- Footer-->
				<footer>
					<div class="container"><div class="text-white-75 font-weight-light mb-5">Copyright © 2020 - Groggy Design</div></div>
				</footer>
			</div>
		</div>
	</section>
	@Styles.Render("~/Scripts/js")
	@Scripts.Render("~/js/scripts.js")
	@*<script src="~/Scripts/scripts.js" asp-append-version="true"></script>*@
	@RenderSection("Scripts", required: false)
</body>
</html>
